# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
.venv/

# Environment variables (Sensitive data)
.env
data/click_locations.json

# PyInstaller (If you compiled your autoclicker to an .exe)
build/
dist/
*.spec

# IDE settings (VS Code)
.vscode/