# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
.venv/

# Environment variables 
.env
data/click_locations.json

# PyInstaller 
build/
dist/
*.spec

# IDE settings
.vscode/